@{
    ViewBag.Title = "ComingSoon";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>稍等片刻，马上回来 | 千秋鱼</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="这是一个神奇的网站。" name="description" />
    <meta content="千秋鱼,ChiakiYu,Chiaki" name="keywords" />
    <meta content="千秋鱼" name="author" />
    @Styles.Render("~/Bundles/Assets/css")
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href="javascript:;">
                    <img src="~/Assets/pages/img/logo.png" alt="千秋鱼" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 coming-soon-content">
                <h1>稍等片刻，马上回来！</h1>
            </div>
            <div class="col-md-7 coming-soon-countdown">
                <div id="defaultCountdown"> </div>
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer"> 2016  © 千秋鱼 </div>
        </div>
    </div>
    <!--[if lt IE 9]>
        <script src="~/Assets/global/plugins/respond.min.js"></script>
        <script src="~/Assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/Assets/js")
</body>
</html>

