
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArtDialoig</title>
    <script src="~/Scripts/SeaJS/sea.js"></script>
    <script src="~/Scripts/SeaJS/seajs-css.js"></script>
    <script src="~/Scripts/SeaJS/seajs.config.js"></script>
   
</head>
<body>
    <div>
        ArtDialoig
        <button id="dialog">点击</button>
    </div>
    <script>
        seajs.use(['jquery', 'dialog'], function ($, dialog) {
            $('#dialog').click(function () {
                var d = dialog({
                    title: '消息',
                    content: '风吹起的青色衣衫，夕阳里的温暖容颜，你比以前更加美丽，像盛开的花<br>——许巍《难忘的一天》',
                    okValue: '确 定',
                    ok: function () {
                        var that = this;
                        that.title('提交中..');
                        setTimeout(function () {
                            that.title('成功');
                            setTimeout(function () {
                                that.title('消息');
                            }, 1000);
                        }, 1000);
                        
                        return false;
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                });
                d.show();
            });

        });
    </script>
</body>
</html>
