@{
    ViewBag.Title = "BootstrapTable";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/BootstrapTable/bootstrap-table.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/BootstrapTable/bootstrap-table.js"></script>
    <script src="~/Scripts/BootstrapTable/locale/bootstrap-table-zh-CN.js"></script>
}

<section>
    <div class="row" style="margin-top:50px;">
        <div class="col-lg-offset-2 col-lg-8">

            名称<input id="name" />
            描述<input id="desc" />
            X<input id="x" />
            Y<input id="y" />
            <button id="hehe">查询</button>
            <br />
            <br />

            <table id="table"></table>

            <table data-toggle="table"
                   data-ajax="getData"
                   data-side-pagination="server"
                   data-pagination="true">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="Id" data-sortable="true">Id</th>
                        <th data-field="Description">Description</th>
                        <th data-field="PointX" data-sortable="true" data-order="desc">PointX</th>
                        <th data-field="PointY">PointY</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</section>
<script>
    function getData(params) {
        // data you need
        console.log(params.data);

        var url = '@Url.Action("GetDataForBootstrapTable","Home")';
        // just use setTimeout

        $.get(url,params.data, function (data) {

            params.success({
                total: data.count,
                rows: data.result
            });
            // hide loading
            //params.complete();
        });

       
    }
    $(function () {


        //$('#table').bootstrapTable({
        //    columns: [{
        //        field: 'id',
        //        title: 'Item ID'
        //    }, {
        //        field: 'name',
        //        title: 'Item Name'
        //    }, {
        //        field: 'price',
        //        title: 'Item Price'
        //    }],
        //    data: [{
        //        id: 1,
        //        name: 'Item 1',
        //        price: '$1'
        //    }, {
        //        id: 2,
        //        name: 'Item 2',
        //        price: '$2'
        //    }]
        //});
    });

</script>
